[run]
source = api
omit =
    */migrations/*
    */tests/*
    */__init__.py
    */conftest.py
    */factories.py
    */management/commands/*

[report]
fail_under = 75
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
